* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Lato', 'Roboto', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 1.5;
	background: #01CBC6;
}
.container {
	background: #fff;
	border-radius: 6px;
	padding: 20px 25px;
	margin-left: auto;
	margin-right: auto;
	width: 920px;
	margin-top: 150px;
}
.form-control {
	border-radius: 6px;
	padding: 20px 25px;
	background: rgba(234,240,241,1);
	margin-top: 40px;
	width: 400px;
}
.form-control form{
	display: flex;
	flex-direction: column;
}
.form-control input {
	padding: 15px 10px;
	margin: 10px 0px;
	border: 1px solid #ccc;
	border-radius: 6px;
	outline: none;
}
.form-control input.err {
	border: 1px solid #E74292;
	outline: none;
}
.form-control input.goof {
	border: 1px solid #01CBC6;
	outline: none;
}
.btn {
	margin-top: 20px;
	padding: 15px 20px;
	background: #01CBC6;
	border: 1px solid #01CBC6;
	border-radius: 6px;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
}
.btn:hover {
	background: rgba(1,203,198,.2);
	color: #01CBC6;
}
.response {
	margin-top: 5px;
	margin-bottom: 5px;
	color: #E74292;
	font-size: 12px;
}